extend layout2

block content
  p.center.searchtitle 股票检索
  |     
  .row
    .col
      .form-group.search
        input.form-control(type="text", value="", placeholder="请输入股票名称或代码")
  |     
  .row.info-row
    .col
      a.btn.btn-block.btn-lg.btn-danger.infostock(href="#fakelink") 最高: #{highest}
    |         
    .col
      a.btn.btn-block.btn-lg.btn-success.infostock(href="#fakelink") 最低: #{lowest}
    |         
    .col
      a.btn.btn-block.btn-lg.btn-danger.infostock(href="#fakelink") 开盘价: #{open}
    |         
    .col
      a.btn.btn-block.btn-lg.btn-success.infostock(href="#fakelink") 收盘价: #{close}
    |         
    .col
      a.btn.btn-block.btn-lg.btn-danger.infostock(href="#fakelink") 成交量: #{volume}

  #myDiv
  |     
  h1
  |     
  #myDiv2
  |     
  #flwbtn.col.follow
    a.btn.btn-block.btn-lg.btn-inverse(href="#fakelink") 添加/删除

